.mui-form {}

.mui-input.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
	background-color: transparent;
	height: 50px;
	color: #fff;
	border: 2px solid #e0fbfc;
	outline: none;
	font-size: 18px;
	&:focus {
		border: 2px solid #ee6c4d;
	 }
}

.MuiOutlinedInput-root.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	font-size: 18px;
	color: #e0fbfc;
	border-radius: 0;
	padding: 15px 0px 14px 20px;
}

.MuiOutlinedInput-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 0;
	display: flex;
	align-items: center;
	&:hover {
		border: none;
	}
}

.mui-button.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
	text-transform: capitalize;
	color: #fff;
	background-color: transparent;
	border: 2px solid #e0fbfc;
	font-size: 18px;
	border-radius: 0;
	height: 54px;
	@media (any-hover: hover){
		&:hover{
			border: 2px solid #ee6c4d;
			color: #ee6c4d;
			transition: all 0.3s ease 0s;
		}
	}
}