.my-btn {
  border: 3px solid brown;
  padding: 18px;
  width: 100px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.my-btn:active {
  transform: scale(0.96);
}

.image {
  width: 25px;
  height: 25px;
}
