.profile {
	padding: 0px 0px 0px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	// .profile__heading
	&__heading {
		font-size: 30px;
		color: #fff;
	}
	// .profile__text
	&__text {
		font-size: 18px;
		color: #fff;
	}
}